<div class="container" style="padding-top: 1vh; padding-bottom: 1vh;">
  <div class="row">
    <div class="col-md-6" style="margin-bottom: 1vh;">
      <div class="row">
        <div class="col-md-12" style="margin-bottom: 1vh;">
          <div class="card" id="master">
            <div class="card-body">
              <h4 class="card-title">
                Your cookbook
                <div style="float: right;">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" [routerLink]="['/add']"><i class="fa fa-rm fa-plus"></i>Add recipe</a>
                      <a class="dropdown-item" [routerLink]="['/export']"><i class="fa fa-rm fa-download"></i>Export recipes</a>
                      <a class="dropdown-item" [routerLink]="['/import']"><i class="fa fa-rm fa-upload"></i>Import recipes</a>
                      <a class="dropdown-item" [routerLink]="['/fetch']"><i class="fa fa-rm fa-globe"></i>Fetch recipe</a>
                    </div>
                  </div>
                </div>
              </h4>
              <p class="card-text" style="margin-bottom: 0px;">The recipes you have added so far... Yummy!</p>
            </div>
            <div class="card-body">
              <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-12">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search recipes" [(ngModel)]="searchTxt" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" (click)="searchTxt=''"><i class="fa fa-remove"></i></button>
                      </span>
                  </div>

                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item highlightable" *ngFor="let recipe of matchRecipes()" (click)="onSelect(recipe)">
                  <div style="float: left">
                    {{recipe.name}}
                  </div>
                  <div style="float: right;">
                    <i class="fa fa-chevron-right"></i>
                  </div>
                </li>
              </ul>
              <div *ngIf="recipes.length === 0" style="margin-bottom: 10px;" class="alert alert-warning">
                You have no recipes. Why don't you go ahead and add some? :)
              </div>
              <!--<button style="margin-top: 10px;" class="btn btn-primary btn-block" [routerLink]="['/add']">
                <i class="fa fa-plus fa-rm"></i> Add a new recipe
              </button>-->
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row" *ngIf="showNewRecipeComponent">
        <div class="col-md-12">
          <new-recipe (onRecipeAdded)="onAddRecipe($event)" (onCloseClicked)="showNewRecipeComponent = false"></new-recipe>
        </div>
      </div>-->
    </div>

    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>