<div id="name-needed-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">No name specified!</h5>
      </div>
      <div class="modal-body">
        Recipe name needs to be filled!
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-sm btn-danger">
          <i class="fa fa-rm fa-remove"></i>Close
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card" id="master">
      <div class="card-body">
        <h4 class="card-title">New Recipe <i style="float: right;" class="fa fa-remove hoverptr" [routerLink]="['/']"></i></h4>
        <div class="row formrow">
          <div class="col-lg-9">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="recipeTBA.name" (keyup.enter)="debug()">
          </div>
          <div class="col-lg-3">
            <input type="number" class="form-control" placeholder="For #" min="1" [(ngModel)]="recipeTBA.forPersons" />
          </div>
        </div>
        <div class="row formrow">
          <div class="col-md-12">
            <input type="url" class="form-control" placeholder="Image URL" [(ngModel)]="recipeTBA.image" />
          </div>
        </div>
        <div class="row formrow">
          <div class="col-md-12">
            <textarea rows="5" class="form-control" placeholder="Description" [(ngModel)]="recipeTBA.description"></textarea>
          </div>
        </div>

        <div class="row formrow" style="margin-bottom: 10px;">
          <div class="col-md-12">
            <div style="float: left;">
              <h3>Ingredients</h3>
            </div>
            <div style="float: right;">
              <button type="button" class="btn btn-secondary" (click)="addIngredient()"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="row formrow" *ngFor="let ingredient of recipeTBA.ingredients; let i = index">
          <div class="col-md-5 form-group">
            <input type="text" class="form-control" placeholder="Ingredient name" [(ngModel)]="ingredient.name" />
          </div>
          <div class="col-md-3 form-group">
            <input type="number" class="form-control" placeholder="Amount" [(ngModel)]="ingredient.amount" />
          </div>
          <div class="col-md-2 form-group">
            <input type="text" class="form-control" placeholder="Unit" [(ngModel)]="ingredient.unit" />
          </div>
          <div class="col-md-2 form-group">
            <button style="float: right;" class="btn btn-danger btn-md" (click)="removeIngredient(i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="row formrow">
          <div class="col-md-12">
            <button (click)="submitAddedRecipe()" class="btn btn-success btn-block">
              <i class="fa fa-rm fa-plus"></i> Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>