<div class="card">
  <div class="card-body">
    <h4 class="card-title">Export your recipes!</h4>
    <p class="card-text">
      Upon clicking the button below we serialize the internal JSON to the textbox in this card. Once the textbox is populated,
      copy the output and save it as a text file for future use. You can import your exported recipes using the "Import recipes"
      action from the main card.
    </p>

    <textarea [(ngModel)] = "exportedRecipesText" rows="5" class="form-control mono" disabled></textarea>
    <button (click)="getExportedRecipes()" style="margin-top: 10px;" class="btn btn-primary btn-block">
      <i class="fa fa-download fa-rm"></i> Export recipes
    </button>

  </div>
</div>