<div id="angtodo-added" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recipe added to AngTodo!</h5>
      </div>
      <div class="modal-body">
        The selected recipe's ingredients have been added to AngTodo.<br>
        Feel free to use it as a shopping list :)
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-sm btn-primary">
          <i class="fa fa-rm fa-check"></i>Close
        </button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="activeRecipe !== null" class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item hoverptr">
        <a class="nav-link" [ngClass]="{'active': activeTab=='ingredients'}" (click)="activeTab='ingredients'">Ingredients</a>
      </li>
      <li class="nav-item hoverptr">
        <a class="nav-link" [ngClass]="{'active': activeTab=='description'}" (click)="activeTab='description'">Description</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <img class="card-img" src="{{activeRecipe.image}}" alt="{{activeRecipe.name}}">
  </div>
  <div class="card-body">
    <h3 class="card-title">{{activeRecipe.name}}</h3>
    <p class="card-text">A recipe for {{activeRecipe.forPersons}}</p>
    <div *ngIf="activeTab == 'ingredients'">
      <!-- ingredients wrapper -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ing of activeRecipe.ingredients">
          <div style="float: left;">{{ing.name}}</div>
          <div style="float: right;"><b>{{ing.amount}} {{ing.unit}}</b></div>
        </li>
      </ul>
    </div>
    <div *ngIf="activeTab == 'description'">
      <!-- description wrapper -->
      <h5>Description</h5>
      <div *ngIf="activeRecipe.description !== null"> <!-- ngforban elszáll a split ha null -->
        <p class="card-text" *ngFor="let descPar of activeRecipe.description.replace('\n\n','\n').split('\n')">
          {{descPar}}
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3" style="margin-top: 10px;">
        <a class="btn btn-secondary btn-block tt" [routerLink]="['/']" data-toggle="tooltip" data-placement="top" title="Close recipe">
          <i class="fa fa-remove"></i>
        </a>
      </div>
      <div class="col-md-3" style="margin-top: 10px;">
          <a class="btn btn-success btn-block tt" (click)="onEdit()" data-toggle="tooltip" data-placement="top" title="Edit recipe">
            <i style="color: white;" class="fa fa-pencil"></i>
          </a>
        </div>
      <div class="col-md-3" style="margin-top: 10px;">
          <a class="btn btn-primary btn-block tt" (click)="addToAngTodos()"  data-toggle="tooltip" data-placement="top" title="Add ingredients to AngTodo">
            <i style="color: white" class="fa fa-sticky-note"></i>
          </a>
        </div>
      <div class="col-md-3" style="margin-top: 10px;">
        <a class="btn btn-danger btn-block tt" [routerLink]="['/']" (click)="deleteThisRecipe()"  data-toggle="tooltip" data-placement="top" title="Delete recipe">
            <i class="fa fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
</div>