<div *ngIf="recipeTBE != null">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title">
            Edit Recipe
          </h4>
        </div>
      </div>
      <div class="row formrow">
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Recipe name" [(ngModel)]="recipeTBE.name">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control" placeholder="For #" min="1" [(ngModel)]="recipeTBE.forPersons">
        </div>
      </div>
      <div class="row formrow">
        <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Image URL" [(ngModel)]="recipeTBE.image">
        </div>
      </div>
      <div class="row formrow">
        <div class="col-md-12">
          <textarea rows="5" class="form-control" placeholder="Description" [(ngModel)]="recipeTBE.description"></textarea>
        </div>
      </div>
      <div class="row formrow" style="margin-bottom: 10px;">
        <div class="col-md-12">
          <div style="float: left;">
            <h3>Ingredients</h3>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" (click)="addIngredient()"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="row formrow" *ngFor="let ingredient of recipeTBE.ingredients; let i = index">
        <div class="col-md-5 form-group">
          <input type="text" class="form-control" placeholder="Ingredient name" [(ngModel)]="ingredient.name" />
        </div>
        <div class="col-md-3 form-group">
          <input type="number" class="form-control" placeholder="Amount" [(ngModel)]="ingredient.amount" />
        </div>
        <div class="col-md-2 form-group">
          <input type="text" class="form-control" placeholder="Unit" [(ngModel)]="ingredient.unit" />
        </div>
        <div class="col-md-2 form-group">
          <button style="float: right;" class="btn btn-danger btn-md" (click)="removeIngredient(i)">
              <i class="fa fa-trash"></i>
            </button>
        </div>
      </div>
      <div class="row formrow">
        <div class="col-md-6">
          <a class="btn btn-secondary btn-block tt" data-toggle="tooltip" title="Cancel" (click)="cancelEdit()" [routerLink]="['/']">
              <i style="color: white;" class="fa fa-remove"></i>
            </a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-success btn-block tt" data-toggle="tooltip" title="Save recipe" (click)="saveEdit(recipeTBE)" [routerLink]="['/']">
                  <i style="color: white;" class="fa fa-check"></i>
              </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="recipeTBE == null">
  <div class="alert alert-warning">
    <p style="text-align: center; margin-bottom: 0px;">
      The requested recipe could not be found!
    </p>
  </div>
</div>