<!--The content below is only a placeholder and can be replaced.-->

<style>
    @import url('https://fonts.googleapis.com/css?family=Lobster');
</style>

<div class="row" style="margin-top: 20px; margin-left: 0px; margin-right: 0px;">
    <div class="col-md-12">
        <h1 style="text-align: center; font-family: Lobster">Recipes!</h1>
    </div>
</div>
<app-recipe-list></app-recipe-list>