<div class="card">
  <div class="card-body">
    <h4 class="card-title">Fetch recipe</h4>
    <p class="card-text">
      Paste a recipe's URL from a supported source into the input below. We will try and parse the recipe you provided and add
      it to your cookbook.
    </p>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon">{{selectedSource}}</span>
          <input type="text" [(ngModel)]="recipeURL" class="form-control" placeholder="Recipe URL" />
          <div class="input-group-btn">
            <button type="button" (click)="fetchRecipeViaService()" class="btn btn-primary"><i class="fa fa-rm fa-globe"></i> Fetch</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" *ngFor="let src of avSources" (click)="selectedSource = src">{{src}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;" *ngIf="loading">
      <div class="col-md-12">
        <div class="alert alert-info">
          <p style="text-align: center; margin-bottom: 0px;">Your recipe is being loaded, please wait...</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;" *ngIf="success">
      <div class="col-md-12">
        <div class="alert alert-success">
          <p style="text-align: center; margin-bottom: 0px;">
            Your recipe has been successfully loaded.<br>
            We suggest you go ahead and edit the recipe, to avoid imperfections.
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;" *ngIf="error">
      <div class="col-md-12">
        <div class="alert alert-danger">
          <p style="text-align: center; margin-bottom: 0px;">There was an error while trying to fetch your recipe</p>
        </div>
      </div>
    </div>

    <!--<button (click)="importClickHandler()" style="margin-top: 10px;" class="btn btn-primary btn-block">
      <i class="fa fa-upload fa-rm"></i> Import recipes
    </button>-->

  </div>
</div>