<div class="card">
    <div class="card-body">
      <h4 class="card-title">Import your recipes!</h4>
      <p class="card-text">
        Paste your exported recipes to the textbox below and click the "Import recipes" button.
        We will try and parse your input and if it's correct we will append your imported recipe
        list to your local database. You won't lose your current recipes! :)
      </p>
  
      <textarea [(ngModel)] = "inputText" rows="5" class="form-control mono"></textarea>
      <button (click)="importClickHandler()" style="margin-top: 10px;" class="btn btn-primary btn-block">
        <i class="fa fa-upload fa-rm"></i> Import recipes
      </button>
  
    </div>
  </div>
