/* You can add global styles to this file, and also import other style files */

.fa-rm {
    margin-right: 5px;
}

.highlightable {
    color: #000;
}

.highlightable:hover {
    cursor: pointer;
    background-color: #eee;
}

.hoverptr:hover {
    cursor: pointer;
}

.btn:hover{
    cursor: pointer !important;
}

.formrow .form-control{
    margin-bottom: 10px;    
}